* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main {

    width: 100vw;
    height: 75vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f0f2f5; 
}

#information {
    width: 459px;
    height: 306px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main #information img {
    width: 301px;
    height: 106px;
}

main #information h2 {
    font-size: 25px;
    line-height: 28px;
    width: 450px;
    height: 200px;
}

form {
    width: 450px;
    height: 350px;
    background-color: white;

    padding: 5px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

div:first-child {
    margin-top: 10px;
}

form a {
    cursor: pointer;
    text-decoration: none;

    color: white;
}

form div {
    padding: 8px;
}

form .form-group {
    width: 360px;
    height: 50px;

    border-radius: 5px;
    padding: 10px;
}

form input {
    border: 1px solid transparent;
    border-color: #DCDCDC;

    transition: border-color 0.2s ease-in;

    outline: none;
}

form input:focus {
    border-color: #1877f2;
}

form input::placeholder {
    font-size: 16px;
}

form #enter {
    margin-top: 5px;
    font-size: 20px;
    color: white;

    text-align: center;

    background-color:#1877f2;

    transition: background-color 0.2s ease-in;

    cursor: pointer;
}

form #enter:hover {
    background-color: #0000CD;
}

form #missingPassword {
    margin-top: 5px;
    font-size: 14px;
}  

form #missingPassword a {
    color: #1877f2;
    margin-left: 150px;
}  

form #missingPassword::after {
    content: "";
    width: 410px;
    height: 1px;
    margin-top: 20px;
    display: block;
    background-color: #D3D3D3;
}

form #newAccount {
    width: 200px;
    height: 50px;

    margin-top: 20px;
    border-radius: 5px;

    background-color: #42b72a;
    text-align: center;

    transition: 0.2s ease-in;

    cursor: pointer;
}

form #newAccount:hover {
    background-color:#006400;
}

footer {
    width: 100vw;
    height: 25vh;   

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}
footer #language {
    max-width: 900px;
    height: 50px;

    font-size: 12px;
    color: #8a8d91;

    margin-top: 30px;
    padding: 10px;
}

footer #random {
    max-width: 900px;
    height: 50px;

    font-size: 12px;
    color: #8a8d91;

    padding: 10px;
}

@media screen and (min-width: 950px) {
    main {
        flex-direction: row;
        justify-content: center;
    }

    main #information {
        align-items: flex-start;

        margin-right: 100px;
    }

    main #information h2 {
        margin-left: 30px;
    }
}            