<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Facebook</title>
</head>
<body>
    <main id="main">

        <div id="presentation">
            <div id="infos">
                <img src="../img/logo.svg" alt="Facebook">
                <h2>O Facebook ajuda você a se conectar e compartilhar com as pessoas que fazem parte da sua vida.</h2>
            </div>
        </div>





        <div id="content">
            <form id="form">
                <div class="form-group">
                    <input autofocus type="text" placeholder="Email ou telefone">
                </div>

                <div class="form-group">
                    <input type="password" placeholder="Senha">
                </div>

                <div class="form-group">
                    <button id="enter" type="submit">Entrar</button>
                </div>

                <div class="form-group">
                    <a href="">Esqueceu a senha?</a>
                </div>

                <div class="form-group">
                    <button id="newAccount">Criar nova conta</button>
                </div>
            </form>
        </div>

    </main>



    <footer id="footer">
        <h1>Aqui tem muitos links</h1>
    </footer>
</body>
</html>